/* --------------------------------------------------------------
	$Form
-------------------------------------------------------------- */


.form-box {
  margin-bottom: 15px;

}


.inputbox {
  padding: .4rem .6rem;
  border: 1px solid $input-border;
  transition: all .3s linear;
  width: 100%;
  box-sizing: border-box;


  &:focus {
    border: 1px solid darken($input-border, 50%);
    border-left: 5px solid $color-error;
    outline: none;
  }
}

select {
  padding: .4rem .6rem;
}


label {
  display: block;
  margin-bottom: 5px;
}



fieldset {
  dl {
    margin-bottom: 1rem;
  }
}


.btn {
  padding: .4rem .8rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: .3s ease;

  &:hover {
    text-decoration: none;
  }
}

  .btn--primary {
    background: $basecolor-4;
    color: $basecolor-2-text;

    &:hover {
      background: lighten($basecolor-4, 20%);
      color: $basecolor-2-text;
    }
  }


  .btn--secondary {
    background: $basecolor-3;
    color: $basecolor-1-text;
  }

  .btn--post {
  }


  .btn--pagination {
    padding: .2rem .6rem;

    background: $basecolor-2;
    color: $basecolor-1-text;
  }



.fields {
  margin-bottom: 1rem;

  dl {
    margin-bottom: 1rem;
  }

}






/* --------------------------------------------------------------
	$Tabs
-------------------------------------------------------------- */


.tabs {
  font-size: rem(14);
}

  .tabs__item {
    display: inline-block;
  }

    .tabs__item--active {

      .tabs__link {
        background: $basecolor-2;
        color: $basecolor-1-text;

        &:hover,
        &:focus {
          background: $basecolor-2;
          color: $basecolor-1-text;
        }
      }
    }

  .tabs__link {
    display: block;
    padding: .3rem .5rem;
    background: $basecolor-4;
    color: $basecolor-2-text;

    &:hover,
    &:focus {
      background: lighten($basecolor-4, 10%);
      color: white;
      text-decoration: none;
    }

  }



  .button {
    background: $basecolor-1;
  }




.message-box {
  width: 100%;


  .inputbox {
    width: 100%;
    transition: none;

    &:focus {
      border: 1px solid $basecolor-1;
    }
  }
}


@include responsive(tablet) {
  .message-box {
    width: 70%;
    float: left;

  }

}


/* format buttons */

.format-buttons {

  margin-bottom: 15px;

  .btn {
  }

  .bbcode-b {
    font-weight: bold;
  }

  .bbcode-u {
    text-decoration: underline;
  }

  .bbcode-i {
    font-style: italic;
  }
}
