/* --------------------------------------------------------------
	$Headers
-------------------------------------------------------------- */



.h2 {
  margin-bottom: 1em;
}

.h3 {
  margin-bottom: 1em;
}


.forum-head {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  a,
  .link {
    color: white;
  }
}

.forum-title {
  margin-bottom: 0;
  a {
    color: #fff;
  }
}

.topic-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  line-height: 100%;

  &:hover a {
    text-decoration: none;
  }
}

  @include responsive(tablet) {
    .forum-head {
      line-height: 100%;
      text-shadow: 0 0 5px #000;
      bottom: 15px;
      left: 15px;

      .forum-title {
        margin-bottom: 5px;
        font-size: 2rem;
        line-height: 2rem;
      }
    }

    .topic-title {
      font-size: 2rem;
    }
  }
